.my-custom-alert {
  background-color: transparent !important;
  color: white;
  border: none;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.my-custom-alert .alert {
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface .mat-mdc-snack-bar-label{
  padding: 0 !important;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface{
  padding: 0 !important;
}

.my-custom-alert .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.my-custom-alert .close:hover {
  opacity: 1;
}

